<div class="row row-cols-2">
  <div class="col" *ngFor="let product of products">
    <div class="card m-2">
      <img src="{{ product.image }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ product.hotel.name }} {{ "★".repeat(product.hotel.rating) }} in {{ product.destination }}<span class="badge badge-success ml-2" *ngIf="discount(product)">{{ discount(product)*100 }}% discount</span>
        </h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text"><span
            [style.text-decoration]="discount(product) ? 'line-through' : 'none'">{{ product.price }}€</span><span
            class="font-weight-bold text-success ml-2"
            *ngIf="discount(product)">{{ product.price - (product.price * discount(product))}}€</span></p>
        <button href="#" class="btn btn-primary" (click)="add(product)">Add</button>
        <p class="mt-2 mb-1">Available dates:</p>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let date of product.dates">{{ date.start.toDateString() }} -
            {{ date.end.toDateString() }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>